<!-- Siehe components/suchfeld.js -->

<style>
  suchfeld md-input-container {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  suchfeld md-input-container .md-input {
    flex: 1;
    order: 1;
    margin: 0;
    padding: 0 2em 0 0;
  }

  suchfeld md-input-container .md-button.md-icon-button {
    flex: none;
    order: 2;
    margin-left: -1.75em;
  }
</style>


<md-input-container md-no-float>
  <input type="text"
         md-select-on-focus
         ng-model="$ctrl.suchbegriff"
         ng-change="$ctrl.aktualisieren($ctrl.suchbegriff)">
  <md-button class="md-icon-button"
             ng-disabled="!$ctrl.suchbegriff"
             ng-click="$ctrl.aktualisieren()">
    <md-icon md-font-icon="material-icons">backspace</md-icon>
  </md-button>
</md-input-container>
