<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-boot-template" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="server.Main" />
    <option name="VM_PARAMETERS" value="-ea --add-opens java.base/java.lang=ALL-UNNAMED" />
    <option name="ALTERNATIVE_JRE_PATH" value="1.8 (OpenJDK)" />
    <option name="SHORTEN_COMMAND_LINE" value="NONE" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>